<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon"
        href="https://upload.wikimedia.org/wikipedia/commons/thumb/0/01/Logo_Unand.svg/1200px-Logo_Unand.svg.png">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="icon"
        href="https://upload.wikimedia.org/wikipedia/commons/thumb/0/01/Logo_Unand.svg/1200px-Logo_Unand.svg.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/beranda.css">
    <link rel="stylesheet" href="css/carimatkul.css">
    <title>Beranda</title>
</head>

<body>
    <div class="logo">
        <img src="https://lp3m.unand.ac.id/webpanel/todakimage/logo.png" alt="">
        <!-- <img src="https://id.images.search.yahoo.com/yhs/search;_ylt=AwrxguoFI45iQX4AMyT3RQx.;_ylu=Y29sbwMEcG9zAzEEdnRpZAMEc2VjA3BpdnM-?p=logo+unand&type=fc_ADDA49F0A8D_s58_g_e_d021922_n9998_c24&param1=7&param2=eJwtjEsKgzAQQK8ySwUZJzFGg8foqoiLVFMbjEbUYunpO0J37735jH5om%2B52F0RKGtVm3cJujKkZrxFJYaRk6VnkteBXJlFLVFgRivpqo4sc%2BVfWvS3THL8%2BBJuXSJCcfhniucNygCCkBjho1cBHqxTsugZ3usfkj7wsKiw0JNPrmEMGwU8ORtdPMYX%2BtcXZ5YIEEipTCtQV7PZpN%2F8%2F%2BwGW%2FDuH&hsimp=yhs-2461&hspart=fc&ei=UTF-8&fr=yhs-fc-2461#id=13&iurl=https%3A%2F%2Flp3m.unand.ac.id%2Fwebpanel%2Ftodakimage%2Flogo.png&action=click" alt=""> -->
    </div>
    <div type="button" class="btn-btn primary font-login"><a href="login2.html">LOGIN</a></div>
    <div class="wrapper">
        <h1 style="margin-top: -30px;">SELAMAT DATANG DI RPS UNIVERSITAS ANDALAS</h1>
        <h5 style="margin-top: -10px; text-align: center;">Website Akademik Sistem Informasi Universitas Andalas</h5>

        <div class="form-group">
            <input class="form-control" type="text" id="myInput" style="margin-left: 430px;" onkeyup="myFunction()"
                placeholder="Cari Mata Kuliah " title="Type in a name">
            <img rel="icon"
                style="position: absolute; width: 32px ;height:32px ; margin-left: 59.5%; margin-top: -47px;" img
                src="images/icon-search.jpg">
        </div>
    </div>

    <h3>Mata Kuliah</h3>
    <form action="" method="GET">
        <table id="myTable">
            <thead>
                <tr class="header">
                    <td style="width:5%;">No</td>
                    <td style="width:23%;">Kode Mata Kuliah</td>
                    <td style="width:23%;">Mata Kuliah</td>
                    <td style="width:10%;">Jumlah SKS</td>
                    <td style="width:10%;">Semester</td>
                    <td style="width:10%;">Aksi</td>
                </tr>
            </thead>
            <tbody>
                <% RPS.forEach((R, i) => { %>
                    <tr>
                        <th scope="row"><%= i+1 %></th>
                        <td><%= R.code %></td>
                        <td><%= R.name %></td>
                        <td><%= R.credit %></td>
                        <td><%= R.semester %></td>
                        <td>id="button"><a href="#">Lihat</a></td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>JSI62122</td>
                        <td>Data Mining</td>
                        <td>3</td>
                        <td>4</td>
                        <td id="button"><a href="#">Lihat</a></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>JSI62125</td>
                        <td>Analisis dan Visualisasi Data</td>
                        <td>2</td>
                        <td>4</td>
                        <td id="button"><a href="#">Lihat</a></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </form>
    <br></br>

    <script>
        function myFunction() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[1];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>

</body>

</html>