* {margin:0; padding: 0;}

body {font-family: Arial, Helvetica, sans-serif;}
/* button simpan */
#button {margin: 3% auto; margin-right: 5%; width: 150px; text-align: center;}
#button a {
	width: 100px;
	height: 30px;
	vertical-align: middle;
	background-color: #83BD75;
	color: black;
	text-decoration: none;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid transparent;
}

/* Pop Up simpan */
#popupsimpan {
	width: 100%;
	height: 100%;
	position: fixed;
	background: rgba(0,0,0,.7);
	top: 0;
	left: 0;
	z-index: 9999;
	visibility: hidden;
}
.window {
	width: 510px;
	height: 100px;
	background: #83BD75;
	border-radius: 10px;
	position: relative;
	padding: 10px;
	text-align: center;
	margin: 15% auto;
}
.close-button {
	width: 25%;
	height: 27%;
	line-height: 22px;
	background: #c1d5b4;
	border-radius: 5%;
	border: 2px solid black;
	display: block;
	text-align: center;
	color: black;
	text-decoration: none;
	position: absolute;
	top: 65px;
	right: 190px;	
}
#popupsimpan:target {
	visibility: visible;
}

/* Pop Up simpan edit*/
#popupsimpanedit {
	width: 100%;
	height: 100%;
	position: fixed;
	background: rgba(0,0,0,.7);
	top: 0;
	left: 0;
	z-index: 9999;
	visibility: hidden;
}
.windowsimpanedit {
	width: 510px;
	height: 100px;
	background: #83BD75;
	border-radius: 10px;
	position: relative;
	padding: 10px;
	text-align: center;
	margin: 15% auto;
}
#popupsimpanedit:target {
	visibility: visible;
}

/* Pop Up simpan tambah*/
#popupsimpantambah {
	width: 100%;
	height: 100%;
	position: fixed;
	background: rgba(0,0,0,.7);
	top: 0;
	left: 0;
	z-index: 9999;
	visibility: hidden;
}
.windowsimpantambah {
	width: 510px;
	height: 100px;
	background: #83BD75;
	border-radius: 10px;
	position: relative;
	padding: 10px;
	text-align: center;
	margin: 15% auto;
}
#popupsimpantambah:target {
	visibility: visible;
}

/* Pop Up simpan hapus*/
#popupsimpanhapus {
	width: 100%;
	height: 100%;
	position: fixed;
	background: rgba(0,0,0,.7);
	top: 0;
	left: 0;
	z-index: 9999;
	visibility: hidden;
}
.windowsimpanhapus {
	width: 510px;
	height: 100px;
	background: #83BD75;
	border-radius: 10px;
	position: relative;
	padding: 10px;
	text-align: center;
	margin: 15% auto;
}
#popupsimpanhapus:target {
	visibility: visible;
}

/*pop up edit*/
#popupedit {
	width: 100%;
	height: 100%;
	position: fixed;
	background: rgba(0,0,0,.7);
	top: 0;
	left: 0;
	z-index: 9999;
	visibility: hidden;
}
.windowedit {
	width: 600px;
	height: 200px;
	background: #83BD75;
	border-radius: 10px;
	position: relative;
	padding: 10px;
	text-align: center;
	margin: 15% auto;
}
.input-edit {
	width: 80%;
	height: 22%;
	position: absolute ;
	top: 85px;
	right: 59px;
}
.close-buttonedit {
	width: 25%;
	height: 16%;
	line-height: 22px;
	background: #c1d5b4;
	border-radius: 5%;
	border: 2px solid black;
	display: block;
	text-align: center;
	color: black;
	text-decoration: none;
	position: absolute;
	top: 150px;
	right: 225px;	
}
#popupedit:target {
	visibility: visible;
}

/*pop up tambah*/
#popuptambah {
	width: 100%;
	height: 100%;
	position: fixed;
	background: rgba(0,0,0,.7);
	top: 0;
	left: 0;
	z-index: 9999;
	visibility: hidden;
}
.windowtambah {
	width: 600px;
	height: 200px;
	background: #83BD75;
	border-radius: 10px;
	position: relative;
	padding: 10px;
	text-align: center;
	margin: 15% auto;
}
.input-tambah {
	width: 80%;
	height: 22%;
	position: absolute ;
	top: 85px;
	right: 59px;
}
.close-buttontambah {
	width: 25%;
	height: 16%;
	line-height: 22px;
	background: #c1d5b4;
	border-radius: 5%;
	border: 2px solid black;
	display: block;
	text-align: center;
	color: black;
	text-decoration: none;
	position: absolute;
	top: 150px;
	right: 225px;	
}
#popuptambah:target {
	visibility: visible;
}

/*pop up hapus*/
#popuphapus {
	width: 100%;
	height: 100%;
	position: fixed;
	background: rgba(0,0,0,.7);
	top: 0;
	left: 0;
	z-index: 9999;
	visibility: hidden;
}
.windowhapus {
	width: 600px;
	height: 120px;
	background: #83BD75;
	border-radius: 10px;
	position: relative;
	padding: 10px;
	text-align: center;
	margin: 15% auto;
}
.close-buttoniya {
	width: 25%;
	height: 22%;
	line-height: 22px;
	background: #c1d5b4;
	border-radius: 5%;
	border: 2px solid black;
	display: block;
	text-align: center;
	color: black;
	text-decoration: none;
	position: absolute;
	top: 80px;
	right: 325px;	
}
.close-buttontidak {
	width: 25%;
	height: 22%;
	line-height: 22px;
	background: #c1d5b4;
	border-radius: 5%;
	border: 2px solid black;
	display: block;
	text-align: center;
	color: black;
	text-decoration: none;
	position: absolute;
	top: 80px;
	right: 125px;	
}
#popuphapus:target {
	visibility: visible;
}

/*pop up update referensi*/
#popupupdate1 {
	width: 100%;
	height: 100%;
	position: fixed;
	background: rgba(0,0,0,.7);
	top: 0;
	left: 0;
	z-index: 9999;
	visibility: hidden;
}
.windowupdate1 {
	width: 600px;
	height: 200px;
	background: #83BD75;
	border-radius: 10px;
	position:relative;
	padding: 10px;
	text-align: center;
	margin: 15% auto;
}
.input-update1 {
	width: 80%;
	height: 22%;
	position: absolute ;
	top: 85px;
	right: 59px;
}
.close-buttonupdate {
	width: 25%;
	height: 13%;
	line-height: 22px;
	background: #c1d5b4;
	border-radius: 5%;
	border: 2px solid black;
	display: block;
	text-align: center;
	color: black;
	text-decoration: none;
	position: absolute;
	top: 165px;
	right: 225px;	
}
#popupupdate1:target {
	visibility: visible;
}

/*pop up update referensi*/
#popupupdate2 {
	width: 100%;
	height: 100%;
	position: fixed;
	background: rgba(0,0,0,.7);
	top: 0;
	left: 0;
	z-index: 9999;
	visibility: hidden;
}
.windowupdate2 {
	width: 600px;
	height: 200px;
	background: #83BD75;
	border-radius: 10px;
	position:relative;
	padding: 10px;
	text-align: center;
	margin: 15% auto;
}
.input-update2 {
	width: 80%;
	height: 22%;
	position: absolute ;
	top: 85px;
	right: 59px;
}
.close-buttonupdate {
	width: 25%;
	height: 13%;
	line-height: 22px;
	background: #c1d5b4;
	border-radius: 5%;
	border: 2px solid black;
	display: block;
	text-align: center;
	color: black;
	text-decoration: none;
	position: absolute;
	top: 165px;
	right: 225px;	
}
#popupupdate2:target {
	visibility: visible;
}

/* Pop Up simpan update*/
#popupsimpanupdate {
	width: 100%;
	height: 100%;
	position: fixed;
	background: rgba(0,0,0,.7);
	top: 0;
	left: 0;
	z-index: 9999;
	visibility: hidden;
}
.windowsimpanupdate {
	width: 510px;
	height: 100px;
	background: #83BD75;
	border-radius: 10px;
	position: relative;
	padding: 10px;
	text-align: center;
	margin: 15% auto;
}
#popupsimpanupdate:target {
	visibility: visible;
}

/*pop up tambah referensi*/
#popuptambahref1 {
	width: 100%;
	height: 100%;
	position: fixed;
	background: rgba(0,0,0,.7);
	top: 0;
	left: 0;
	z-index: 9999;
	visibility: hidden;
}
.windowtambahref1 {
	width: 600px;
	height: 200px;
	background: #83BD75;
	border-radius: 10px;
	position:relative;
	padding: 10px;
	text-align: center;
	margin: 15% auto;
}
.input-tambah1 {
	width: 80%;
	height: 22%;
	position: absolute ;
	top: 85px;
	right: 59px;
}
.close-buttontambahref1 {
	width: 25%;
	height: 13%;
	line-height: 22px;
	background: #c1d5b4;
	border-radius: 5%;
	border: 2px solid black;
	display: block;
	text-align: center;
	color: black;
	text-decoration: none;
	position: absolute;
	top: 160px;
	right: 225px;	
}
#popuptambahref1:target {
	visibility: visible;
}

/* Pop Up simpan tambah*/
#popupsimpantambahref1 {
	width: 100%;
	height: 100%;
	position: fixed;
	background: rgba(0,0,0,.7);
	top: 0;
	left: 0;
	z-index: 9999;
	visibility: hidden;
}
.windowsimpantambahref1 {
	width: 510px;
	height: 100px;
	background: #83BD75;
	border-radius: 10px;
	position: relative;
	padding: 10px;
	text-align: center;
	margin: 15% auto;
}
#popupsimpantambahref1:target {
	visibility: visible;
}

/*pop up tambah referensi*/
#popuptambahref2 {
	width: 100%;
	height: 100%;
	position: fixed;
	background: rgba(0,0,0,.7);
	top: 0;
	left: 0;
	z-index: 9999;
	visibility: hidden;
}
.windowtambahref2 {
	width: 600px;
	height: 200px;
	background: #83BD75;
	border-radius: 10px;
	position:relative;
	padding: 10px;
	text-align: center;
	margin: 15% auto;
}
.input-tambah2 {
	width: 80%;
	height: 22%;
	position: absolute ;
	top: 85px;
	right: 59px;
}
.close-buttontambahref2 {
	width: 25%;
	height: 13%;
	line-height: 22px;
	background: #c1d5b4;
	border-radius: 5%;
	border: 2px solid black;
	display: block;
	text-align: center;
	color: black;
	text-decoration: none;
	position: absolute;
	top: 160px;
	right: 225px;	
}
#popuptambahref2:target {
	visibility: visible;
}

/* Pop Up simpan tambah*/
#popupsimpantambahref2 {
	width: 100%;
	height: 100%;
	position: fixed;
	background: rgba(0,0,0,.7);
	top: 0;
	left: 0;
	z-index: 9999;
	visibility: hidden;
}
.windowsimpantambahref2 {
	width: 510px;
	height: 100px;
	background: #83BD75;
	border-radius: 10px;
	position: relative;
	padding: 10px;
	text-align: center;
	margin: 15% auto;
}
#popupsimpantambahref2:target {
	visibility: visible;
}

/*pop up edit nilai*/
#popupeditnilai {
	width: 100%;
	height: 100%;
	position: fixed;
	background: rgba(0,0,0,.7);
	top: 0;
	left: 0;
	z-index: 9999;
	visibility: hidden;
}
.windoweditnilai {
	width: 600px;
	height: 235px;
	background: #83BD75;
	border-radius: 10px;
	position:relative;
	padding: 10px;
	text-align: center;
	margin: 15% auto;
}
.input-nilai {
	width: 80%;
	height: 18%;
	position: absolute ;
	top: 80px;
	right: 59px;
}
.input-bobot {
	width: 80%;
	height: 18%;
	position: absolute ;
	top: 130px;
	right: 59px;
}
.close-buttoneditnilai {
	width: 25%;
	height: 10%;
	line-height: 22px;
	background: #c1d5b4;
	border-radius: 5%;
	border: 2px solid black;
	display: block;
	text-align: center;
	color: black;
	text-decoration: none;
	position: absolute;
	top: 200px;
	right: 225px;	
}
#popupeditnilai:target {
	visibility: visible;
}

/* Pop Up simpan edit*/
#popupsimpaneditnilai {
	width: 100%;
	height: 100%;
	position: fixed;
	background: rgba(0,0,0,.7);
	top: 0;
	left: 0;
	z-index: 9999;
	visibility: hidden;
}
.windowsimpaneditnilai {
	width: 510px;
	height: 100px;
	background: #83BD75;
	border-radius: 10px;
	position: relative;
	padding: 10px;
	text-align: center;
	margin: 15% auto;
}
#popupsimpaneditnilai:target {
	visibility: visible;
}

/*pop up tambah nilai*/
#popupaddnilai {
	width: 100%;
	height: 100%;
	position: fixed;
	background: rgba(0,0,0,.7);
	top: 0;
	left: 0;
	z-index: 9999;
	visibility: hidden;
}
.windowaddnilai{
	width: 600px;
	height: 235px;
	background: #83BD75;
	border-radius: 10px;
	position:relative;
	padding: 10px;
	text-align: center;
	margin: 15% auto;
}
.input-nilai {
	width: 80%;
	height: 18%;
	position: absolute ;
	top: 80px;
	right: 59px;
}
.input-bobot {
	width: 80%;
	height: 18%;
	position: absolute ;
	top: 130px;
	right: 59px;
}
.close-buttonadd {
	width: 25%;
	height: 10%;
	line-height: 22px;
	background: #c1d5b4;
	border-radius: 5%;
	border: 2px solid black;
	display: block;
	text-align: center;
	color: black;
	text-decoration: none;
	position: absolute;
	top: 200px;
	right: 225px;	
}
#popupaddnilai:target {
	visibility: visible;
}

/* Pop Up simpan edit*/
#popupsimpanadd {
	width: 100%;
	height: 100%;
	position: fixed;
	background: rgba(0,0,0,.7);
	top: 0;
	left: 0;
	z-index: 9999;
	visibility: hidden;
}
.windowsimpanadd {
	width: 510px;
	height: 100px;
	background: #83BD75;
	border-radius: 10px;
	position: relative;
	padding: 10px;
	text-align: center;
	margin: 15% auto;
}
#popupsimpanadd:target {
	visibility: visible;
}

/*pop up tambah pertemuan*/
#popuptambahper {
	width: 100%;
	height: 100%;
	position: fixed;
	background: rgba(0,0,0,.7);
	top: 0;
	left: 0;
	z-index: 9999;
	visibility: hidden;
}
.windowtambahper{
	width: 600px;
	height: 235px;
	background: #83BD75;
	border-radius: 10px;
	position:relative;
	padding: 10px;
	text-align: center;
	margin: 15% auto;
}
.input-nilai {
	width: 80%;
	height: 18%;
	position: absolute ;
	top: 80px;
	right: 59px;
}
.input-bobot {
	width: 80%;
	height: 18%;
	position: absolute ;
	top: 130px;
	right: 59px;
}
.close-buttonper {
	width: 25%;
	height: 10%;
	line-height: 22px;
	background: #c1d5b4;
	border-radius: 5%;
	border: 2px solid black;
	display: block;
	text-align: center;
	color: black;
	text-decoration: none;
	position: absolute;
	top: 200px;
	right: 225px;	
}
#popuptambahper:target {
	visibility: visible;
}

/* Pop Up simpan pertemuan*/
#popupsimpanper {
	width: 100%;
	height: 100%;
	position: fixed;
	background: rgba(0,0,0,.7);
	top: 0;
	left: 0;
	z-index: 9999;
	visibility: hidden;
}
.windowsimpanper {
	width: 510px;
	height: 100px;
	background: #83BD75;
	border-radius: 10px;
	position: relative;
	padding: 10px;
	text-align: center;
	margin: 15% auto;
}
#popupsimpanper:target {
	visibility: visible;
}

/*pop up tambah pertemuan*/
#popupper {
	width: 100%;
	height: 100%;
	position: fixed;
	background: rgba(0,0,0,.7);
	top: 0;
	left: 0;
	z-index: 9999;
	visibility: hidden;
}
.windowper{
	width: 600px;
	height: 235px;
	background: #83BD75;
	border-radius: 10px;
	position:relative;
	padding: 10px;
	text-align: center;
	margin: 15% auto;
}
.input-nilai {
	width: 80%;
	height: 18%;
	position: absolute ;
	top: 80px;
	right: 59px;
}
.input-bobot {
	width: 80%;
	height: 18%;
	position: absolute ;
	top: 130px;
	right: 59px;
}
.close-buttoneditp {
	width: 25%;
	height: 10%;
	line-height: 22px;
	background: #c1d5b4;
	border-radius: 5%;
	border: 2px solid black;
	display: block;
	text-align: center;
	color: black;
	text-decoration: none;
	position: absolute;
	top: 200px;
	right: 225px;	
}
#popupper:target {
	visibility: visible;
}

/* Pop Up simpan pertemuan*/
#popupsimpaneditp {
	width: 100%;
	height: 100%;
	position: fixed;
	background: rgba(0,0,0,.7);
	top: 0;
	left: 0;
	z-index: 9999;
	visibility: hidden;
}
.windowsimpaneditp {
	width: 510px;
	height: 100px;
	background: #83BD75;
	border-radius: 10px;
	position: relative;
	padding: 10px;
	text-align: center;
	margin: 15% auto;
}
#popupsimpaneditp:target {
	visibility: visible;
}

/*pop up logout*/
#popuplogout {
	width: 100%;
	height: 100%;
	position: fixed;
	background: rgba(0,0,0,.7);
	top: 0;
	left: 0;
	z-index: 9999;
	visibility: hidden;
}
.windowlogout {
	width: 600px;
	height: 120px;
	background: #83BD75;
	border-radius: 10px;
	position: relative;
	padding: 10px;
	text-align: center;
	margin: 15% auto;
}
.close-buttonoutiya {
	width: 25%;
	height: 22%;
	line-height: 22px;
	background: #c1d5b4;
	border-radius: 5%;
	border: 2px solid black;
	display: block;
	text-align: center;
	color: black;
	text-decoration: none;
	position: absolute;
	top: 80px;
	right: 325px;	
}
.close-buttonouttidak {
	width: 25%;
	height: 22%;
	line-height: 22px;
	background: #c1d5b4;
	border-radius: 5%;
	border: 2px solid black;
	display: block;
	text-align: center;
	color: black;
	text-decoration: none;
	position: absolute;
	top: 80px;
	right: 125px;	
}
#popuplogout:target {
	visibility: visible;
}
