<!doctype html>
<html lang="en"> 
  <head>
  	<title>CPMK</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/0/01/Logo_Unand.svg/1200px-Logo_Unand.svg.png">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="css/matakuliah.css">
    <link rel="stylesheet" href="css/popup.css">
    <script src="https://kit.fontawesome.com/9c1321c239.js" crossorigin="anonymous"></script>

  </head>
  <body>	
		<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
				<div class="p-4 pt-5">
		  		<a href="#" class="img logo rounded-circle mb-5" style="background-image: url(images/user.jpg);"></a>
          <h6 style="margin-left: 100px; margin-top: -1cm;">Dosen</h6>
	        <ul class="list-unstyled components mb-5">
            <li>
              <a rel="icon" href="/dasbordDosen"><img src="images/icon-home.jpg" style="width:30px;height:30px;">Dashboard</a>
            </li>
            <li>
              <a rel="icon" href="/semuaMatkul"><img src="images/icon_course.jpg" style="width:30px;height:30px;">Mata Kuliah</a>
            </li>
	        <li>
              <a class="popuplogout" rel="icon" href="#popuplogout"><img src="images/icon_logout.jpg" style="width:30px;height:30px;">Logout</a>
	        </li>
	        </ul>
    	</nav>

        <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">

            <button type="button" id="sidebarCollapse" class="btn btn-primary">
              <i class="fa fa-bars"></i>
              <span class="sr-only">Toggle Menu</span>
            </button>
            <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="nav navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="dosen_cpmk.html">CPMK</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="dosen_referensi.html">Referensi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="dosen_penilaian.html">Penilaian</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="dosen_pertemuanmingguan.html">Pertemuan Mingguan</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
            <table border ="1" cellpadding="10" width="90%">
              <thead>
                <tr>
                  <th class="text-center" scope="col">No.</th>
                  <th class="text-center" scope="col">Capaian Mata Kuliah</th>
                  <th class="text-center" scope="col">Edit</th>
                  <th class="text-center" scope="col">Hapus</th>
                </tr>
              </thead>
              <tbody>
                <% CPMK.forEach((C, i) => { %>
                  <tr>
                    <td class="text-center" scope="row"><%= i+1 %></td>
                    <td><%= C.name %></td>
                    <td class="table-detail">
                      <a class="popupedit" rel="icon" href="#popupedit"><img src="images/icon-edit.jpg" style="width:30px;height:30px;"></a>
                      <a class="popuphapus" rel="icon" href="#popuphapus"><img src="images/icon-delete.jpg" style="width:35px;height:35px;"></a>
                  </td>
                  </tr>
                  <% } ) %>
              </tbody>
            </table>
            <td>
              <a class="popuptambah" rel="icon" href="#popuptambah"><img src="images/icon-tambah.jpg" style="width:30px;height:30px;margin-top: 2%;margin-left: 85%;"></a>
            </td>
            <! -- pop up simpan -->
            <div id="button"><a href="#popupsimpan">Simpan</a></div>
            <div id="popupsimpan">
            <div class="window">
                <a href="#" class="close-button">Close</a>
                <h2>Data Tersimpan</h2>
            </div>
            </div>

            <! -- pop up edit -->
            <div id="popupedit">
              <div class="windowedit">
                  <input class="input-edit" type="text" placeholder="Input">
                  <a href="#popupsimpanedit" class="close-buttonedit">Update</a>
                  <h2>Update Data</h2>
              </div>
            </div>
            <div id="popupsimpanedit">
              <div class="windowsimpanedit">
                  <a href="#" class="close-button">Close</a>
                  <h2>Data Berhasil di Update</h2>
              </div>
              </div>

          <! -- pop up tambah -->
            <div id="popuptambah">
              <div class="windowtambah">
                  <input class="input-tambah" type="text" placeholder="Input">
                  <a href="#popupsimpantambah" class="close-buttontambah">Tambah</a>
                  <h2>Tambah Data</h2>
              </div>
            </div>
            <div id="popupsimpantambah">
              <div class="windowsimpantambah">
                  <a href="#" class="close-button">Close</a>
                  <h2>Data Berhasil di Tambah</h2>
              </div>
              </div>

          <! -- pop up hapus -->
            <div id="popuphapus">
              <div class="windowhapus">
                  <a href="#popupsimpanhapus" class="close-buttoniya">Iya</a>
                  <a href="#" class="close-buttontidak">Tidak</a>
                  <h2>Hapus CPMK</h2>
              </div>
            </div>
            <div id="popupsimpanhapus">
              <div class="windowsimpanhapus">
                  <a href="#" class="close-button">Close</a>
                  <h2>Data Berhasil di Hapus</h2>
              </div>
              </div>
      </div>
      <! -- pop up Logout -->
      <div id="popuplogout">
      <div class="windowlogout">
        <a href="login3.html" class="close-buttonoutiya">Iya</a>
        <a href="#" class="close-buttonouttidak">Tidak</a>
          <h2>LOG OUT</h2>
      </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
